{erl_opts, [debug_info]}.
{deps, [
  hackney,
  jesse,
  jiffy
]}.

{ct_opts, [ {sys_config, ["./test/test.config"]}
          , {verbose, true}]}.

{profiles,
  [
    {test,
      [
        {deps,
          [
            meck,
            {mixer, {git, "git://github.com/chef/mixer.git", {branch, "master"}}},
            cowboy,
            trails,
            cowboy_swagger
          ]
        }
      ]
    },
    {prod,
      [
        {relx,
          [
            {dev_mode, false},
            {include_erts, true}
          ]
        }
      ]
    }
  ]
}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
